body {
    margin: 0;
    padding: 0;
    border-style: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3d3d3;
}


.card {
    background-color: #fff;
    border: 2px solid #632df8;
    border-radius: 13px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

h1 {
    text-align: center;
    background-color: #632df8;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
}

.clock {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.time-element,
.colon-element {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin: 0px 10px;
}

.colon-element {
    font-size: 32px;
}